.list-container{
    display:flex;
    flex-direction: row;
}

.list-item-container{
    display: flex;
    flex:0.33;
    justify-content: center;
}

.list-item-container-secondary{
    display: flex;
    flex:0.2;
    justify-content: center;
}

.form-input-text-primary{
    font-weight: 100;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin: 6% 0 0 10%
}  

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(230,230,230); 
}

::-webkit-scrollbar-thumb {
  background: rgb(100,100,100); 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  transition-duration: 200ms;
  background: rgb(101, 12, 184);
}
